<h2><u>For Directive</u></h2>

<!-- <h2 *ngFor="let x of names"> {{x}}</h2> -->
<!-- with index -->
<!-- <h2 *ngFor="let x of names; index as i"> value is {{x}} - index is {{i}}</h2> -->

<!-- even index -->
<!-- <h2 *ngFor="let x of names; even as e"> value is {{x}} - Even positions is {{e}}</h2> -->

<!-- odd indexs  -->
<!-- <h2 *ngFor="let x of names; odd as o"> value is {{x}} - Odd positions is {{o}}</h2> -->

<!-- <h2 *ngFor="let x of emp | keyvalue"> 
{{x.key}} --- {{x.value}}
</h2> -->

<!-- Array of objects -->

<h2 *ngFor="let x of emp">
  <h2 *ngFor="let y of x | keyvalue">

    {{y.key}} -- {{y.value}}
  </h2> <hr>
</h2>