<h1>Data Binding</h1>
<!-- 
<h2>I am {{name}}</h2>
<p>I will work for all string methods</p>
<h2>I am {{name.toLowerCase}}</h2>
<h2>I am {{name.toUpperCase}}</h2>
<h2>I am {{name.length}}</h2>

<p>I can allow expressions</p>
<h2>{{2+4}}</h2>


<p>i wont allow assignments</p>

 <h2>{{ x = 10}}</h2> -->
<!-- <h2>{{x++}}</h2>  -->
<!-- <h3>{{employee | json}}</h3> -->

<!-- <h3 *ngFor="let em of employee">{{em.name[0]}}</h3> -->

<!-- <p>I can allow and u can use ternary</p> 


<h3>{{emp.lName ? emp.lName :'No last name'}}</h3>

<img src={{imgURL}} >  -->