<h1>Welcome to angular16</h1>
<!-- <app-home></app-home> -->
<!-- <div app-home></div> -->
<!-- <app-interpolation></app-interpolation>
<app-prop-binding></app-prop-binding> -->
<!-- <app-classbindind></app-classbindind> -->
<!-- <app-stylebinding></app-stylebinding> -->
<!-- <app-eventbinding></app-eventbinding> -->
<!-- <app-twoway></app-twoway> -->
<!-- <app-for></app-for> -->
<!-- <app-switch></app-switch> -->
<!-- <app-if></app-if> -->
<!-- <app-parent></app-parent> -->
<router-outlet></router-outlet>